@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* Scroll Bar */
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Caminho do scroll */
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  border: 1px solid #ccc;
}

/* Barra de scroll */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aaa;
  border: 1px solid rgb(112, 112, 112);
}

body::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

body::-webkit-scrollbar-thumb:active{
  background-color: #575757;
}

/* Navbar */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  background-color: #24252a;
}

.logo {
  margin-right: auto;
}

#img_logo {
  height: 50px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #23AFAE;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #1b8a8a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: #23AFAE;
}

/* -------------------------------------------  Footer */
.footer{width: 100%;}
.footer .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #22252A;
  height: 200px;
}
.links-footer{display: flex;}
.links-footer div{margin-left: 30px;}
.links-footer span{display: flex; align-items: center; margin-right: 30px;}
.links-footer ul{list-style: none; margin-top: 0;}
.links-footer ul li a{text-decoration: none; color: #fff;}
.links-footer ul li a:hover{color: #1b8a8a;}
.links-footer h4{color: #23AFAE; line-height: 0;}
.effect-rotate{transition: all 1s;}
.effect-rotate:hover{transform: rotate(360deg);cursor: pointer;}
.direitos-autorais{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: black;
}