@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    background-color: #ffffff;
    font-family: Roboto, "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Loading */
#div_loading {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 3;
    position: fixed;
}

:root {
    --color-bg: #eaeaea;
    --color-loader: #2fbdc2;
    --loader-size: 100px;
    --loader-speed: 500ms;
  }
  
  .loader {
    --loader-height: calc(var(--loader-size) / 7);
    display: flex;
    
    position: relative;
  }
  .loader::before {
    content: '';
    position: absolute;
  }
  .loader::before,
  .loader > span {
    display: block;
    width: var(--loader-height);
    height: var(--loader-height);
    border-radius: 50%;
    background: var(--color-loader);
    
    animation-name: to-right;
    animation-duration: var(--loader-speed);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .loader > span:nth-child(even) {
    visibility: hidden;
  }
  .loader > span:first-child {
    animation-name: scale-up;
  }
  .loader > span:last-child {
    animation-name: scale-up;
    animation-direction: reverse;
  }
  
  @keyframes to-right {
    to {
      transform: translateX(200%);
    }
  }
  @keyframes scale-up {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

#div_delete {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: none;
    top: 0;
    left: 0;
    z-index: 3;
    position: fixed;
  }

.body_container {
    margin: 30px 12% 50px 12%;
    width: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo_perfil {
    font-family: Roboto, "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #525252;
    border-bottom: 0px solid #a0a0a0;
    padding: 12px 0 12px 0;
    padding-left: 12%;
    width: 88%;
    box-shadow: 5px 1px 18px rgb(221, 221, 221);
    cursor: default;
}

.div_fotoUser {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.user {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://media.istockphoto.com/vectors/default-avatar-photo-placeholder-icon-grey-profile-picture-business-vector-id1327592449?k=20&m=1327592449&s=612x612&w=0&h=6yFQPGaxmMLgoEKibnVSRIEnnBgelAeIAf8FqpLBNww=');
    border: 1px solid rgb(139, 139, 139);
}

.editar_foto {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #15CDD3;
    position: absolute;
    margin-left: 115px;
    margin-top: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.editar_foto:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 6px 18px rgb(196, 196, 196);
}

.editar_foto:hover svg {
    fill: cyan;
}

#svg_editar_foto {
    width: 24px;
    height: 24px;
    margin-top: 5px;
}

.bloco_duplo {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bloco_duplo input {
    width: 85%;
    height: 25px;
    border-radius: 5px;
    border: 0;
    padding-left: 8px;
    background-color: rgb(233, 233, 233);
    cursor: default;
    color: #525252;
}

.bloco_unico {
    width: 60%;
    margin-bottom: 10px;
}

.bloco_unico input {
    width: 93%;
    height: 25px;
    border-radius: 5px;
    border: 0;
    padding-left: 8px;
    background-color: rgb(233, 233, 233);
    cursor: default;
    color: #525252;
}

.div_primeiro_nome {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.div_sobrenome {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ipt_titulo {
    font-family: Roboto, "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #808080;
    font-size: 16px;
    padding-bottom: 5px;
    font-weight: 500;
    cursor: default;
}

.bloco_inferior {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.btn_salvar {
    padding: 12px 36px 12px 36px;
    border: 0;
    border-radius: 5px;
    font-family: Roboto, "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    background-color: #15CDD3;
    width: 100%;
}

.btn_salvar:hover {
    box-shadow: 8px 8px 18px rgb(189, 189, 189);
}

.desativar_conta {
    color: red;
    font-family: Roboto, "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    margin-right: 28px;
}

.desativar_conta:hover {
    font-weight: 500;
}

#tooltip_perfil {
    margin-left: 8px;
    margin-top: 5px;
}

/* Media queries para responsividade */
@media screen and (max-width: 580px) { 
    .bloco_duplo {
        flex-direction: column;
        width: 176%;
        margin-left: 38px;
    }
    
    .bloco_unico {
        width: 80%;
    }

    .bloco_inferior {
        width: 80%;
    }
    .titulo_perfil{
        text-align: center;
    }
}