body{
    background-color: #232428;
    margin: 0;
    padding: 0;
}
h3{
    color: #D9D9D9;
}
.interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.area-logo{
    padding: 20px 0px;
}
.area-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50vh;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form input{
    border-radius: 8px;
    border: 0;
    margin-bottom: 30px;
    height: 4vh;
    width: 100%;
    background-color: #D9D9D9;
    color: #525252;
}
.form{
    font-size: 13px;
}
.btn_back{
    width: 5vw;
    height: 30px;
    margin: 10px 0 0 10px;
    border-radius: 30px;
    border: 0;
    background-color: #1a6969;
    color: aliceblue;
    cursor: pointer;
    transition: all 1s;
    position: absolute;
}
.btn_submit{
    width: 10vw;
    height: 30px;
    border-radius: 5px;
    border: 0;
    background-color: #1a6969;
    color: aliceblue;
    cursor: pointer;
    transition: all 1s;
}
button:hover{
    transform: scale(0.9);
}
#btn_info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
    background-color: #525252;
    margin-left: 6px;
}
.campos{
    display: flex;
    flex-direction: row;
}
footer{
    color: #50746f;
}

.information{
    color: #4f4f4f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
