body{
    background-image: url('../assets/bg-termos.png');
}
.banner-termos {
    display: flex;
    justify-content: center;
}

.container-termos {
    display: flex;
    justify-content:center;
    text-align: justify;
    padding: 80px;
    width: 60%;
    background-color: rgb(187, 187, 187);
    border-radius: 60px;
    margin-top: 90px;
    margin-bottom: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.termos{
    margin-top: 20px;
}