# Ambiente Local ou Nuvem
AMBIENTE_PROCESSO="DEV"
# AMBIENTE_PROCESSO="PROD"
SECRET_KEY_CRYPT="#Gfgrupo1"
PROJECT_NAME="Data Sentry"

HOST="http://localhost:3333"
# HOST="http://dnsnuvem"

# NODE
EXPRESS_PORT=3333 # LOCAL
# EXPRESS_PORT=80 # PRODUCAO

# Email configs
NODEMAILER_HOST="smtp.mailtrap.io" # LOCAL
NODEMAILER_PORT=2525 #LOCAL
# NODEMAILER_HOST="" # PRODUCAO
# NODEMAILER_PORT=578 # PRODUCAO
NODEMAILER_USER=""
NODEMAILER_PASSWORD=""
# NODEMAILER_USER="" # PRODUCAO
# NODEMAILER_PASSWORD="" # PRODUCAO
NODEMAILER_EMAIL_FROM="data-sentry-sptech@gmail.com"

# MYSQL DATABASE LOCAL
MYSQL_HOST="localhost"
MYSQL_DATABASE="datasentry"
MYSQL_USER="root"
MYSQL_PASSWORD="datasentry"
MYSQL_PORT=3306


# SQL SERVER DATABASE PROD
# ! DPS TROCAR PARA AZURE
MSSQL_HOST="localhost"
MSSQL_DATABASE="datasentry"
MSSQL_USER="SA"
MSSQL_PASSWORD="#Gfgrupo1"
MSSQL_PORT=1433

